<html lang="en">
  <body>
  
    <h1>Congratulations, <%= @award.award_suggested_nomination.user_nominated.first_name %></h1>
    
    <h2>You've won: <%= @award.title %></h2>
    
    <p>This award will now be shown on your profile.</p>
  </body>
</html>
