<% title Member.model_name.human.pluralize %>

<div class="admin_functions">
  <%= link_to "New #{ Member.model_name.human }", new_admin_member_path %>
</div>

<%= informant_table @members, {
      :headings => [ 'Position', 'First Name', 'Last Name', 'Role', 'Image', 'Display', '', '' ], 
      :body => [ it_sort, :first_name, :last_name, :role, it_edit_images(:image), it_ajax_toggle(:display), it_edit, it_destroy ]
    } %>
