<h1>Listing award_suggested_nominations</h1>
<!--
<table>
  <tr>
    <th>Award</th>
    <th>User nominated</th>
    <th>User nominated by</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% #@award_suggested_nominations.each do |award_suggested_nomination| %>
  <tr>
    <td><%# award_suggested_nomination.award
    %></td>
    <td><%# award_suggested_nomination.user_nominated
    %></td>
    <td><%# award_suggested_nomination.user_nominated_by
    %></td>
    <td><%# link_to 'Show', award_suggested_nomination
    %></td>
    <td><%# link_to 'Edit', edit_award_suggested_nomination_path(award_suggested_nomination)
    %></td>
    <td><%# link_to 'Destroy', award_suggested_nomination, method: :delete, data: { confirm: 'Are you sure?' }
    %></td>
  </tr>
<%# end %>
</table>
-->
<br />

<%#= link_to 'New Award suggested nomination', new_award_suggested_nomination_path %>
