<section class="internal-content">
  <div class="inner">
  <div class="full-information">
    <h1 class="item-header">
      <span>
        Chief Executive's Blog
      </span>
    </h1>

    <div class="row">
      <div class="twelve columns">
        <p>
          Hello and welcome<br />
          
          I am delighted to welcome you to my blog which will be updated on a
          regular basis. I would like this to be a two way process so I would welcome
          any comments/feedback on my blogs – you can email me at
          <%= mail_to 'jane.miller5@nhs.net' %>.
          I will use this blog to keep staff up-to-date with news and details of
          what I have been doing across Care Plus Group and I hope you will find
          this a useful and informative resource.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="nine columns">
        <% unless @blog_articles.blank? %>
          <%= render @blog_articles %>
        <% else %>
          <p>There are currently no blog articles.</p>
        <% end %>
      </div>
      <div class="three columns">
        <% if @chief_executive.present? %>
          <%= image_tag @chief_executive.image.index, class: 'author-photo-rounded' if @chief_executive.image.present? %>
          <div class="chief-executive-bio">
            <%= raw @chief_executive.bio %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  </div>
</section>
